<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Weiss Monitor</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    <link rel="stylesheet" href="static/style.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body>
  <section class="section">
    <div class="container">
      <h1 class="title weiss">
        Weiss Status
      </h1>
      <p class="subtitle">
        Gotta monitor <strong>Weiss</strong>!
      </p>
      <div class="columns">
          <div class="column">
            VG CoTD
            {{range .VGCotdUrls }}
              {{.}}
            {{end}}
          </div>
          <div class="column">
            BF CoTD
            {{range .BFCotdUrls }}
              {{.}}
            {{end}}
          </div>
          <div class="column">
            WS CoTD
            {{range .WSCotdUrls }}
              {{.}}
            {{end}}
          </div>
      </div>
    </div>
  </section>
  </body>
</html>